/*
* @Author: xiaofan
* @Date:   2018-03-19 14:11:19
* @Last Modified by:   xiaofan
* @Last Modified time: 2018-03-20 16:31:20
*/

p{
	margin: 0;
	padding: 0;
	display: inline-block;
}

a{
	text-decoration: none;
}

select, input{
	border: none;
	outline: none;
}

.top{
	line-height: 30px;
	font-size: 13px;
	color: #868686;
}

.top .call{
	float: left;
	padding-left: 20px;
	background: url(../img/call.png) no-repeat center left;
}

.top .welcome{
	float: right;
}

.top a{
	color: #5bb8e8;
	padding-left: 10px;
}

/*导航部分*/
.header .logo{
	width: 403px;
	height: 74px;
	padding: 9px 0;
	display: inline-block;
}

.header img{
	width: 100%;
	height: 100%;
}

.header .search{
	width: 326px;
	height: 38px;
	position: absolute;
	right: 0px;
	top: 29px;
	/*background-color: orange;*/
}

.header .search .option{
	padding-left: 10px;
}

.header .search .option .text{
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	color: #fff;
	text-align: center;
}

.header .search .sbox{
	background-color: #ff0;
}

.nav .link {
	display: inline-block;
	float: left;
	padding-left: 30px;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	min-width: 80px;
	text-align: center;
}

.nav a:hover{
	color: #d7f3ff;
}

.nav .menu{
	width: 130px;
	padding-right: 30px;
	background-color: #1fa4f0;
	position: relative;
	cursor: pointer;
}

.nav .menu .menu-list{
	background-color: #1fa4f0;
	width: 100%;
	height: 423px;
	position: absolute;
	left: 0;
	top: 36px;
}

.nav .right{
	float: right;
}

/*banner*/
.banner-search{
	background-color: #fafafa;
}

.banner-help .caption,
.banner-search .caption{
	height: 22px;
	/*padding: 15px 0;*/
	padding: 15px 0 15px 0;
	text-align: center;
}

.banner-help .caption .text,
.banner-search .caption .text{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	text-align: center;
	padding-left: 28px;
	font-size: 16px;
	color: #fecd09;
	background: url(../img/quai.png) no-repeat center left;
}

.banner-search .form {
	height: 150px;
}

.banner-search .form .line{
	padding-bottom: 9px;
	text-align: center;
}

.banner-search .form .line select{
	width: 170px;
	font-size: 12px;
	z-index: 0;
	border: 1px solid #dcdddd;
	height: 26px;
	line-height: 26px;
	padding: 2px 0;
	color: #666;
}

.banner-search .sumbit{
	height: 32px;
	text-align: center;
	color: #fff;
}

.banner-search .sumbit .button{
	width: 108px;
	height: 32px;
	background-color: #fecd09;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
}

.banner-search .sumbit .button:hover{
	background-color: #ff0;
}

.banner-help{
	background-color: #fafafa;
}

.banner-help .caption .text{
	color: #00b3ea;
	background: url(../img/help.png) no-repeat center left;
}

.banner-help .link{
	color: #00b3ea;
	display: inline-block;
	width: 86px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	text-align: center;
	padding: 0 0 8px 26px;
}

/*content内容*/
.content-close,
.content-news{
	background-color: #fff;
	border: 1px solid #f4f6fa;
}

.content-close .caption,
.content-news .caption{
	background-color: #f4f6fa;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	color: #fec009;
	text-indent: 20px;
}

.content-close .more,
.content-news .more{
	float: right;
	padding-right: 21px;
	font-size: 12px;
	color: #868686;
}

.content-close .list,
.content-news .list{
	padding: 15px 20px 13px 35px;
	line-height: 29px;
	font-size: 12px;
	background: url(../img/bg001.png) 1px 5px no-repeat;
}

.content-close .list .link,
.content-news .list .link{
	display: block;
	color: #969696;
}

.content-close .caption{
	color: #24b6f3;
}

.content-close .list{
	background: url(../img/bg002.png) 1px 9px no-repeat;
}

/*content-tab*/
.content-tap{
	background: none;
}

.content-tap .caption{
	height: 34px;
	line-height: 34px;
	background-color: #f4f6fb;
}

.content-tap .caption .item{
	display: block;
	float: left;
	width: 112px;
	height: 34px;
	text-align: center;
	color: #00b3f1;
}

.content-tap .caption .item_focus{
	background-color: #41bef8;
	color: #f9ffff;
}

.content-tap .block{
	border: 1px solid #f4f6fa;
	height: 452px;
}

.content-tap .block .item{
	height: 45px;
	line-height: 45px;
}

.content-tap .block-caption{
	height: 26px;
	line-height: 26px;
	padding: 8px;
	border-bottom: 1px solid #f4f6fa;
}

.content-tap .block-cap-item{
	display: block;
	padding: 0 10px 0 10px;
	float: left;
	font-size: 14px;
	color: #000;
}

.content-tap .block_item_focus{
	background-color: #41bef8;
	color: #f9ffff;
}

.content-tap .block-content .block-more{
	display: block;
	line-height: 55px;
	text-align: center;
	color: #477fca;
	font-size: 14px;
}

.content-tap .block-content .block-cont-list{}

.content-tap .block-content .block-cont-list .b-item{
	float: left;
	width: 216px;
	height: 102px;
	padding: 0 20px 10px 120px;
	position: relative;
	font-size: 12px;
}

.content-tap .block-content .block-cont-list .b-item img{
	width: 110px;
	height: 98px;
	position: absolute;
	top: 0;
	left: 0;
}

.content-tap .block-content .block-cont-list .b-item .item-name{
	color: #036eb7;
	font-size: 14px;
	line-height: 21px;
	padding-top: 13px;
}

.content-tap .block-content .block-text-list .level,
.content-tap .block-content .block-cont-list .b-item .item-level{
	float: right;
	font-size: 12px;
	color: #979797;
}

.content-tap .block-content .block-cont-list .b-item .item-phone,
.content-tap .block-content .block-cont-list .b-item .item-add{
	line-height: 18px;
	padding-bottom: 4px;
	color: #666;
}

.content-tap .block-content .block-text-list{}

.content-tap .block-content .block-text-list .text-item{
	display: block;
	width: 351px;
	height: 27px;
	line-height: 27px;
	font-size: 14px;
	color: #666;
	padding-top: 8px;
	float: left;
	border-bottom: 1px dashed #dcdddd;
}

.content-tap .block-content .block-text-list .text-item:nth-child(2n){
	margin-left: 13px;
}

.footer{
	color: #666;
	font-size: 14px;
	text-align: center;
}

.footer .f-item-name{
	line-height: 35px;
	color: #666;
}

.footer .f-num{
	line-height: 35px;
}









