/*
* @Author: xiaofan
* @Date:   2018-03-16 17:01:30
* @Last Modified by:   xiaofan
* @Last Modified time: 2018-03-16 17:11:57
*/
*{
	margin: 0;
	padding: 0;
}

body{
	background: #ff0;
}

#demo{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #f00;
}























